.cart-page
  .v-expansion-panels.theme--light
    .v-expansion-panel
      &-header
        .v-btn
          max-width: 40px
          height: 40px
          margin-right: 4px
          margin-left: -8px
          color: #fff
      &-header
        background-color: $secondary-color
        color: #fff
        text-transform: uppercase
        font-weight: bold
        &__icon
          .v-icon
            color: #fff
  &__title
    font-size: 16px
    font-weight: 400
    margin: 16px 0 10px 0
    color: #373C48
    text-transform: uppercase
  .v-card.main-card
    padding: 4px 32px 40px 32px
    color: $secondary-color
  .dates
    flex-wrap: wrap
    .cart-page__title
      margin: 4px 8px 4px 0
    .dates-row
      display: flex
      align-items: center
      margin: 0 -10px
      .date 
        color: #BFC4CE
        margin: 0 10px
      span
        color: $secondary-color
        text-transform: uppercase
  .locations
    display: flex
    margin: 0 -12px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    &__item
      flex: 0 0 50%
      display: flex
      padding-left: 12px
      align-items: center
      .cart-page__title
        margin: 4px 8px 4px 0
    &__input
      flex: 1
      border: 1px solid #BBBDBF
      border-radius: 4px
      padding: 12px
      margin: 0 12px
    &-input
      &__icon
        color: #717273
        font-size: 30px
        vertical-align: bottom
        margin-right: 10px
      &__name
        color: #717273
        font-size: 18px
  .event-size
    &__field-group  
      padding: 10px 0
      font-size: 14px
      display: flex
      align-items: center
      align-content: flex-start

      .group__name
        flex: 1 1 100%
        margin-right: 15px
      .control
        margin-bottom: 3px
        cursor: pointer
        .v-icon
          font-size: 18px
          color: $primary-color
      .group__input
        flex: 0 0 40px
        padding: 0
        .v-input__control
          min-height: 24px
          .v-input__slot
            padding: 0
            background-color: transparent
            input
              text-align: center
              font-size: 16px
              padding: 0 0

  .hotels-list
    .v-list
      &-item
        padding-top: 20px
        padding-bottom: 20px
        transition: .25s ease
        border-top: 1px solid #ccc
        &:last-child
          border-bottom: 1px solid #ccc
        &:hover
          background-color: #eee
        .hotel-image
          height: 100px
          width: 100px
          border-radius: 4px
          margin-right: 30px
        .hotel-numering
          padding: 0 20px 0 0
          color: #ccc
          font-size: 30px
        .hotel-region
          text-transform: uppercase
          color: #B2B7C1
          font-size: 13px
        .hotel-pricing
          margin-top: 0
          margin-right: 25%
          .v-input
            margin-top: 0
        .middle-part
          flex: 1 1 50%
          width: 50%
        &__title
          .hotel-title
            font-size: 18px
            font-weight: 500
            margin-bottom: 3px
            color: $blue-darken-1
            transition: .25s ease
            &:hover
              color: $blue-lighten-1
            

@include respond-to(lg)
  .cart-page
    .hotels-list
      .v-list
        &-item
          .hotel-pricing
            margin-right: 100px

@include respond-to(md)
  .cart-page
    .hotels-list
      .v-list
        &-item
          .hotel-pricing
            margin-right: 20px

@include respond-to(sm)
  .cart-page
    .dates-row
      flex-wrap: wrap
      .v-input
        min-width: 270px
        margin-bottom: 20px
    .locations
      flex-wrap: wrap
      &__item
        flex: 1
        min-width: 200px
        margin-bottom: 20px
    .hotels-list
      .v-list
        &-item
          .hotel-image
            display: none
          .hotel-numering
            display: none

@include respond-to(xs)
  .cart-page
    .v-expansion-panel-content__wrap
      padding: 0 12px
    .v-card.main-card
      padding: 24px 16px
    .locations
      display: flex
      margin: 0 -12px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      &__item
        flex-wrap: wrap
        .cart-page__title
          width: 100%
      &__input
        margin-left: 0
    .hotels-list
      .v-list
        &-item
          flex-wrap: wrap
          .middle-part
            flex: 0 0 100%
            margin-bottom: 15px
          .hotel-title
            font-size: 16px
          .link
            font-size: 13px
          &>.v-btn
            margin-left: auto







        