.v-card.search-filters
  padding: 10px 20px
  .filter-item
    border-bottom: 1px solid #DDDFE7
    padding: 12px 0
    &__row
      align-items: center
      width: 100%
      display: flex
      justify-content: space-between
      font-size: 14px
      &.checkboxes
        display: flex
        flex-direction: column
        align-content: flex-start
        align-items: flex-start
        .v-input 
          margin-top: 5px
          .v-label
            font-size: 14px

      &.radios
        .v-input 
          margin-top: 5px

      &.slider
        margin-top: -2px

      &.select
        margin-top: 10px
        margin-bottom: 5px
        .v-input__append-inner
          margin-top: 9px
        .v-select__selections
          padding: 5px 0
        .v-input__slot
          min-height: 42px

      &.text-input
        margin-top: 10px
        margin-bottom: 5px
        .v-input__slot
          min-height: 42px
          .v-input__prepend-inner
            margin-top: 9px
            margin-left: -3px
          
      &.values
        .values__item
          font-size: 13px
          font-weight: 500
          color: $secondary-color
          opacity: .5
          .v-icon
            vertical-align: text-bottom
            color: #BEC3CB
          &.active
            color: #0056b3
            .v-icon
              color: #0056b3
    &__title
      font-size: 14px
      color: $secondary-color
      font-weight: 600
    &__more
      cursor: pointer
      display: none