@import './components/btn'
@import './components/pagination'
@import './colors'

body, html
  scroll-behavior: smooth
  font-family: Roboto, sans-serif

.v-application.theme--light
  a:link 
    color: $blue-lighten-1
    text-decoration: none
    transition: .1s ease
    &:hover
      color: $blue-darken-1

.container
  &.fill-height
    flex-direction: column
  &.align-initial
    align-items: initial !important
  @include respond-to(xl)
    max-width: 1440px !important

.empty
  width: 100%
  text-align: center
  color: $blue-palen-1
  margin: 16px

.v-dialog.cart-dialog
  margin: 12px

.v-data-table.custom, .v-data-table.custom.v-data-table--fixed-header
  text-align: center
  table
    thead
      background-color: $secondary-color
      tr
        th
          background: $secondary-color
          text-align: center
          font-size: 14px
          font-weight: 500
          color: #fff
      &.icons
        background-color: #fff
        tr
          th
            background-color: #fff
        .v-icon
          color: #595F6F
    tbody
      background-color: #ECEDEF

